@model ProyectoMVCCRUD.Models.Notasest

@{
    ViewData["Title"] = "Edit";
}

<h1>EDITAR NOTA ESTUDIANTE</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Carnet" class="control-label"></label>
                <input asp-for="Carnet" class="form-control"/>
                <span asp-validation-for="Carnet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ipn" class="control-label"></label>
                <input asp-for="Ipn" class="form-control" />
                <span asp-validation-for="Ipn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iipn" class="control-label"></label>
                <input asp-for="Iipn" class="form-control" />
                <span asp-validation-for="Iipn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sist" class="control-label"></label>
                <input asp-for="Sist" class="form-control" />
                <span asp-validation-for="Sist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proyec" class="control-label"></label>
                <input asp-for="Proyec" class="form-control" />
                <span asp-validation-for="Proyec" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <br />
                <input type="submit" value="Guardar" class="btn btn-primary" icon="fa-solid fa-floppy-disk fa-sm" />&nbsp; &nbsp;
                <a asp-action="Index" class="btn btn-success">
                    <i class="fa-solid fa-angle-double-left fa-sm"></i>
                    Regresar
                </a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    
    <script src="https://kit.fontawesome.com/d2880094fc.js" crossorigin="anonymous"></script>
}
